
.pokemon-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
#type{
    border-radius: 10px;
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px;
}
.dragon {
    background: #bc9732;
}
.electric {
    background: #f5ef07;
}
.fighting {
    background: rosybrown;
}
.fire {
    background: #f51700;
}
.flying {
    background: #bff9f8;
}
.ghost {
    background: #311162;
    color:white;
}
.grass {
    background: #0cbc2d;
}
.bug {
    background: #054820;
    color:white;
}
.ground {
    background: #432119;
}
.ice {
    background: #00fff8;
}
.poison {
    background: #a863bc;
}
.psychic {
    background: #9d45fa;
}
.rock {
    background: #56443e;
}
.water {
    background: #1376bc;
}
.normal {
    background: #bbbbbb;
}
.steel {
    background: rgba(187, 187, 187, 0.11);
}
.fairy {
    background: #c00fb7;
}
