.card-container {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.card {
    border-radius: 16px;
    width: 300px;
    margin: 10px 20px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages7.alphacoders.com%2F662%2F662102.png&f=1&nofb=1");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.pokemon-description-pair {
    display: inline-grid;
    grid-template-columns: auto auto;
}




