.pokemon-button-container {
    display: flex;
    justify-content: center;
    align-content: baseline;
}
.pokemon-button {
    height: 100px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 1.23rem;
    margin: auto 10px;
    transition: all .1s linear;
    border-radius: 20px;
    box-shadow: 0 5px 0 #006599;
}
.pokemon-button:active {
    transform: translateY(3px);
}

.catch {
    background-color: red;
    color: white;
}

.catch:hover {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffarm9.static.flickr.com%2F8635%2F27805240133_062d857e0b.jpg&f=1&nofb=1");
    color: transparent;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.refresh {
    background-color: green;
    color: white;
}
